:host {
  font-weight: var(--global-font-primary--light);

  @media only screen and (max-width: 559px) {
    font-size: 1.1em;
  }

  @media only screen and (min-width: 560px) {
    font-size: 1.2em;
  }

  @media only screen and (min-width: 780px) {
    font-size: 1.25em;

  }
}

p {
  margin: 0 0 0.6em;
}
