<div class="wrapper">
  <endless-cover [overline]="'New Games & Accessories'"
                 [title]="'Monthly packages.<br>Excitement delivered daily.'"
                 [isLazyLoad]="false" [href]="'/subscribe'"
                 [imgSrc]="'/assets/images/photo-couch.jpg'"
                 [imgSrcSet]="'/assets/images/photo-couch.jpg 1x, /assets/images/photo-couch_2x.jpg 2x'"
                 [imgSizes]="'(max-width: 742px) 100vw, 742px'"
                 [bokeh]="true"
                 [buttonLabel]="'Get Started'">
    What’s the best way to shop for the latest video games and peripherals? How
    about never shopping at all?<br/> You’ll get new stuff on your doorstep —
                                    every
    month.
</endless-cover>
<endless-steps [title]="'How It Works'"></endless-steps>
</div>
