:root {
  /* Font Family */
  --global--font-primary: "Lato", sans-serif;
  --global--font-primary--light: 300;
  --global--font-primary--regular: 400;
  --global--font-primary--bold: 700;

  /* Font Size */
  --global--font-size-base: 1rem;
  --global--font-size-xxs: 1rem;
  --global--font-size-xs: 1rem;
  --global--font-size-sm: 1.125rem; // 1.8125
  --global--font-size-md: 1.25rem;
  --global--font-size-lg: 1.9375rem;
  --global--font-size-xl: 2rem;
  --global--font-size-xxl: 3.44rem;
  --global--font-size-xxxl: 3.75rem;
  --global--font-size-page-title: var(--global--font-size-xxl);
  --global--letter-spacing: normal;

  /* Colors */
  --global--color-black: #000000;
  --global--color-dark-gray: #222222;
  --global--color-gray: #2f3237;
  --global--color-teal: #50e3c2;
  --global--color-white: #ffffff;
  --global--color-white-50: rgba(255, 255, 255, 0.5);
  --global--color-white-90: rgba(255, 255, 255, 0.9);

  --global--color-primary: var(--global--color-teal);
  --global--color-secondary: var(--global--color-dark-gray);
  --global--color-text: var(--global--color-gray);
  --global--color-text-accent: var(--global--color-white);

  /* Headings */
  --global--color-primary-hover: var(--global--color-primary);
  --global--color-background: var(--global--color-white);
  --global--color-background-accent: var(--global--color-dark-gray);

  /* Spacing */
  --global--spacing-unit: 20px;
  --global--spacing-measure: unset;
  --global--spacing-horizontal: 25px;
  --global--spacing-vertical: 30px;

  /* Sections */
  --section--content-max-width: 1136px;
  --section--padding-horizontal: calc(var(--global--spacing-unit));
  --section--padding-vertical: calc(var(--global--spacing-unit));

  /* Cover block */
  --cover--height: calc(15 * var(--global--spacing-vertical));
  --cover--color-foreground: var(--global--color-white);
  --cover--color-background: var(--global--color-black);

  /* Buttons */
  --button--color-text: var(--global--color-background);
  --button--color-text-hover: var(--global--color-secondary);
  --button--color-text-active: var(--global--color-secondary);
  --button--color-background: var(--global--color-primary);
  --button--color-background-active: var(--global--color-background);
  --button--font-family: var(--global--font-primary);
  --button--font-size: calc(1.2 * var(--global--font-size-base));
  --button--font-weight: 500;
  --button--line-height: 1.5;
  --button--border-width: 1.5em;
  --button--border-radius: 1.7em;
  --button--padding-vertical: 10px;
  --button--padding-horizontal: 38px;

  font-family: var(--global--font-primary);
  font-size: 16px;
  color: var(--global--color-text);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--global--color-background);
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
